
.panda-bg-info {
    background-color: #fceae8;
}

.liClass{
    padding: 5px;
}

.categories img {
    width: 100px;
}

.panda-btn-buy-now {
    color: white;
    background-color: #ff4991;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.panda-btn-buy-now1 {
    color: white;
    background-color: #597fca;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.test img {
    width: 70%;
}

#my1 {
    height: 50px;
    width: 70px;
}

.red {
    color: red;
    font-size: larger;
}

.time {
    font-size: larger;
    text-align: center;
}

.sp {
    font-size: larger;
    padding-right: 20px;
}

.mysec {
    margin-bottom: 30px;
}

.link-text {
    text-decoration: none;
    color: white;
}

.body2 {
    background-color: rgb(252, 247, 248);

}